.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #3e3e3e;
  color: white;
}

.menu {
  display: flex;
  list-style: none;
}

.menu li {
  margin-left: 25px;
}

#bt {
  display: flex;
  background-color: tomato;
  color: white;
  width: 150px;
  justify-content: center;
  margin-top: 10px;
  font-size: 50px;
  border: none;
  border-radius: 10px;
}
